body {
    margin: 0;
    width: 100%;
    /*
    * fixed nav bar is 50px tall, must move down everything else
    */
    padding-top: 50px;
}

/*
 * Hide default border to remove 1px line 
 */
.navbar-fixed-top {
    border: 0;
}

/*
 * Global addons
 */
.sub-header {
    padding-bottom: 10px;
    border-bottom: 1px solid #eee;
}

/*
Sidebar
*/
/* Hide for mobile, show later */
.sidebar {
    display: none;
}

@media (min-width: 768px){
    .sidebar{
        position: fixed;
        top: 51px;
        bottom: 0;
        left: 0;
        z-index: 1000;
        display: block;
        padding: 20px;
        overflow-x: hidden;
        overflow-y: auto; /*Scrollable content */
        background-color: #f5f5f5;
        border-right: 1px solid #eee;
    }
}

/* sidebar navigation */
.nav-sidebar {
    margin-right: -21px;
    margin-bottom: 20px;
    margin-left: -20px;
}

.nav-sidebar > li > a {
    padding-right: 20px;
    padding-left: 20px;
}

.nav-sidebar > .active > a,
.nav-sidebar > .active > a:hover,
.nav-sidebar > .active > a:focus {
    color: #fff;
    background-color: #428bca;
}

/*
 * Main Content
 */
.main {
    padding: 20px;
}

@media (min-width: 768px) {
    .main{
        padding-right: 40px;
        padding-left: 40px;
        overflow-y: auto; /*Scrollable content */
    }
}

.main .page-header {
    margin-top: 0;
}

/*
 * Index Page Addons
 */
#overview {
    display: flex;
    flex-flow: row nowrap;
    flex-basis: auto;
    padding-left: 40px;
    padding-right: 40px;
    justify-content: flex-start;
}

#quick_info {
    flex: 4;
    width: 300px;
    border-left: 1px solid #eee;
    border-top: 1px solid #eee;
    border-bottom: 1px solid #eee;
}

#today {
    flex: 6;
    border: 1px solid #eee;
}

#quick_info > h4,
#today > h4 {
    text-align: center;
    font-weight: 900;
}
#table_quick_info {
    margin-left: 3em;
    margin-right: 3em;
}

#result {
    font-weight: 700;
}

td {
    padding: 10px;
}

#today_content {
    width: 100%;
    display: inline-flex;
    flex-flow: column;
    padding-left: 3em;
    padding-right: 3em;
}

#client_table, #pawn_table,
#gun_pawn_table, #buy_table,
#layaway_table {
    width: 100%;
    height: 100%;
}

#client_table table,
#pawn_table table,
#buy_table table,
#gun_pawn_table table,
#layaway_table table {
    overflow-x: auto;
    width: 100%;
    margin-top: 25px;
}

#layaway_table li {
    margin-bottom: 5px;
    padding-left: 1em;
}

#layaway_table .fa-plus {
    margin-left: 20px;
}
.table button {
    margin-left: 10px;
}

/*
 * Transaction Page
 */

@media(min-width: 768px){
    #trans_form{
        max-width: 75%;
    }
}
#trans_form {
    margin-right: auto;
    margin-left: auto;
    margin-top: 5em;
}

/*
 *Login Page
 */

@media(min-width: 768px){
    #login_form {
        margin-right: auto;
        margin-left: auto;
        width: 500px;
    }
    
    #login_form_header{
        border-bottom: none;
    }
}

#form_submit {
    margin-left: 10px;
}